body{
	background-color: #F4F6FC;
	font-family: segoe ui, Open Sans;
	margin:0px;
}

a {
	text-decoration: none;
}

.menu1 {
	font-size: 16px;
	color:#2E384D;
	white-space:nowrap;
	font-weight: 600;
	margin-right: 47px;

}

.menu2 {
	font-size: 16px;
	color:#8798AD;
	white-space:nowrap;
	margin-right: 55px;
}

.menu3 {
	font-size: 16px;
	color:#8798AD;
	white-space:nowrap;
	margin-right: 55px;
}

.version>p {
	float: right;
	color:#8798AD;
	padding-top: 13.5px;
	padding-right: 20px;
	font-size: 12px
}


.headmenu {
	background-color: #FFFFFF;
	border-bottom: 1px solid #E9EEFF;
}


.topmargindown {
	margin-top: 60px;
}

.topmenu1 {
	font-weight: 600;
	font-size:16px;
	color: #2E384D;
	margin-right: 40px;
	text-decoration: none;
	white-space:nowrap;

}

.topmenu2 {
	font-size:16px;
	color: #8798AD;
	margin-right: 40px;
	text-decoration: none;
	white-space:nowrap;
}

.topmenu3 {
	font-size:16px;
	color: #8798AD;
	text-decoration: none;
	margin-right: 60px;
	white-space:nowrap;
}

.searchdecoration {
	background-color: #F9FAFF;
	color:#233448;
	width: 99%;
	border: 1px solid #E6E9F3;
	border-radius: 3px;
	padding:10px 20px 10px 35px;

}

.searchdecoration:focus {
	background-color: #fff;
	color:#233448;
	width: 99%;
	border: 1px solid #E6E9F3;
	border-radius: 3px;
	padding:10px 20px 10px 35px;

}

.poisk {
  width: 24px;
  height: 24px;
  line-height: 26px;
  text-align: center;
  margin-right: -26px;
  position: relative;
  z-index: 1;
  float: left;
  padding-top: 6px;
  padding-left: 8px;
  color:#c9ccd6;
}

i.poisk + .searchdecoration {
	
}

.zagalovokmargin{
	margin-top: 50px;
	margin-bottom: 25px;
}

.zagalovokmargin2{
	margin-bottom: 25px;
}


.blockzag {
	font-size:20px;
	padding-left: 0px;
}

.headerblock {
	background-color: #fff;
	padding:25px;
	border: 1px solid #E6E9F3;
	border-radius: 3px;
}

.searchdecoration3 {
	background-color: #F9FAFF;
	color:#233448;
	width: 40%;
	border: 1px solid #E6E9F3;
	border-radius: 3px;
	padding:10px 20px 10px 20px;
	margin-right: 20px;
	margin-top: 10px;

}

.headerzag {
	font-size:20px;
}

.inforoute {
	background: #FFFFFF;
	width: 14.4%;
	height: 50px;
	text-align: center;
	padding-top: 13px;
	border: 1px solid #EAEFFE;
	border-radius: 3px;
	margin-right: 30px;
	margin-bottom: 25px;
}

.inforouteend {
	background: #FFFFFF;
	width: 14.4%;
	height: 50px;
	text-align: center;
	padding-top: 13px;
	border: 1px solid #EAEFFE;
	border-radius: 3px;
	margin-bottom: 25px;
}

.linkroute {
	color:#000;
	padding:10px 65px 10px 65px;
}


.iconstab {
	
}