html,
body {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 1030px;
}

.contentTop .item:last-of-type::after {
    display: none;
}

.contentMiddle {
    position: relative;
}

.contentMiddleLeft {
    left: 0;
    width: 300px;
    float: left;
    padding-right: 6px;
}

    @media (max-width: 767px) {

        .contentMiddleLeft {
            width: 100%;
            float: none;
            margin-bottom: 15px;
            padding-right: 0;
        }

    }

.contentMiddleRight {
    width: 100%;
    padding-left: 300px;
    padding-top: 0 !important;
}

    @media (max-width: 767px) {

        .contentMiddleRight {
            padding-left: 0;
        }

    }

.contentMiddle #mapContainer {
    width: 100%;
    height: 300px;
}


/*SEARCH FORM -=------------------------------------*/

.RouteSearchWrapper {
    border-radius: 2px;
    width: 100%;
}

.route-search-form {
    position: relative;
}

.route-search-fields {
    position: relative;
}

.InputBox {
    background-color: #FFFFFF;
    border: 1px #BFC2C3 solid;
    font-size: 14px;
    height: 34px;
    outline: medium none;
    padding: 0 10px 0 30px;
    width: 100%;
}

.InputBox-A .InputBox {
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

.InputBox-B .InputBox {
    margin-bottom: 10px;
    border-radius: 0 0 3px 3px;
}

.InputBox-A .gwt-common-textboxesWrapper:before {
    background-image: url("/public/images/web/A-small.png");
    content: "";
    height: 20px;
    left: 6px;
    position: absolute;
    top: 7px;
    width: 20px;
}

.InputBox-B .gwt-common-textboxesWrapper:before {
    background-position: -60px 0;
    height: 20px;
    width: 20px;
    background-image: url("/public/images/web/site_icons.png");
    content: "";
    left: 6px;
    position: absolute;
    top: 7px;
}

.switch-address {
    background: url("/public/images/web/switch.png");
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
    border-style: none;
    width: 0;
    height: 0;
    outline: none;
    padding: 20px 24px 0px 7px;
}

.switch-address-old {
    background: url("/public/images/web/site_icons.png") no-repeat scroll -20px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
    border-style: none;
    width: 0;
    height: 0;
    outline: none;
    padding: 19px 24px 0 0;
    z-index: 4;
}

.search-button {
    background-color: #F86433;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: -44px;
    top: 25px;
    width: 44px;
}

.search-button:before {
    background-image: url("/public/images/web/site_icons.png");
    background-position: 0 -20px;
    height: 27px;
    left: 50%;
    margin-left: -13px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    width: 27px;
    content: "";
}

.search-button:hover:before {
    background-position: -30px -20px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
}

.search-button-loading:before,
.search-button-loading:hover:before {
    background: url("/public/images/loading-orange.gif") no-repeat 0 0;
    margin-left: -17px;
    margin-top: -16px;
}

.search-button-collapsed:before {
    background-image: url("/public/images/search-back.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0 0;
    height: 40px;
    left: 8px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 8px;
    width: 40px;
    content: "";
}

.search-button-collapsed:hover:before {
    background-size: 80%;
    background-position: 0 0;
    height: 40px;
    left: 5px;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 4px;
    width: 40px;
    content: "";
}

.text-search-button {
    background-color: #F86433;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: 25px;
    width: 55px;
    color: #ffffff;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-search-button:before {
    left: 50%;
    margin-left: -23px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
    width: 51px;
}

.text-search-button:hover:before {
    height: 32px;
    margin-left: -25px;
    margin-top: -16px;
    width: 55px;
}

.TransportTypeItem {
    border-radius: 3px;
    cursor: pointer;
    max-height: 25px;
    max-width: 100%;
    padding: 3px;
    margin: 7px 0 7px 9px;
}

.TransportTypeItem-unchecked {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.TransportTypeItem:hover {
    background-color: #ffffff;
}

.CollapseLabel {
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 13px;
    margin: 0 10px;
}

.Search-settings {
    cursor: pointer;
    float: right;
    font-size: 13px;
    border: 1px solid #ddd;
    margin: 13px 0 0;
    padding: 5px 10px;
    color: #1C7DB0;
}

    .Search-settings:hover {
        background-color: #f5f5f5;
    }

.Search-variants {
    color: #3D505A;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 17px 10px 10px;
    font-weight: bold;
    margin-left: 0;
    color: #333;
}

.ErrorMessagePanel {
    background-color: #f78d7c;
    color: #ffffff;
    clear: both;
    font-size: 12px;
    padding: 7px;
    margin-bottom: 10px;
}

.routeOptimalSearchPanel-button {
    margin-left: auto;
    margin-right: 0;
}

.ResultPanelItem {
    background-color: #fff;
    color: #5A5F65;
    cursor: pointer;
    display: block;
    padding: 5px;
    border-bottom: 1px solid #d1d1d1;
}


.ResultPanelItem:hover {
    background-color: #f5f5f5;
}

.ResultPanelItemArrow {
    background: url("/public/images/web/site_icons.png") repeat scroll -50px -8px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 12px;
    width: 7px;
    margin: 9px 3px;
    vertical-align: top;
}

.ResultPanel .time {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.ResultPanel .name {
    display: inline-block;
    margin: 6px 2px 0 1px;
    vertical-align: top;
}

.MoreVariants {
    position: relative;
    height: auto;
    color: #333;
    margin-top: 10px;
    line-height: normal;
    background: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

    .MoreVariants::after {
      content: '';
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-bottom: 2px solid #1C7DB0;
      border-right: 2px solid #1C7DB0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
      margin-left: 4px;
      top: -1px;
    }

    .MoreVariants:hover {
        color: #1C7DB0;
    }

.firstStopName {
    color: #909696;
    font-size: 12px;
}


/*MAP MENU ----------------------------------------------------------------------------*/

.map-layers {
    top: 15px !important;
    bottom: auto;
}

.mapOverlayMenuPanel {
    background-color: #EFF2F2;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 210px;
    z-index: 2;
}

.mapOverlayMenuPanel-item {
    cursor: pointer;
    padding: 8px;
}

.mapOverlayMenuPanel-item .gwt-Label {
    color: #3D505A;
    font-size: 14px;
    line-height: 22px;
    padding-left: 30px;
}

.mapOverlayMenuPanel-item .gwt-Image {
    float: left;
}

.mapOverlayMenuPanel-item:hover {
    background-color: #ffffff;
}


/*RESULT PANEL -----------------------------------------------------------*/

.ResultContainer {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 300px;
}

.BrowseResultContainer-download {
    position: absolute;
    background: url("/public/images/png.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 10px;
    margin: 8px;
    padding-top: 31px;
    text-align: center;
    right: 0;
    display: none;
}

.ResultShort {
    background-color: #FFFFFF;
    color: #5A5F65;
    display: block;
    padding: 10px 0 10px 20px;
}

.ResultShort .time {
    margin-bottom: 5px;
}

.ResultShort .name {
    display: inline-block;
    margin: 6px 2px 0 1px;
    vertical-align: top;
}

.MoreInfoWrapper {
    overflow-y: auto;
}

.MoreInfo {
    overflow-y: hidden;
}

.Segment {
    position: relative;
    cursor: pointer;
}

.Segment .RouteTypeImage {
    left: 6px;
    position: absolute;
    top: 50px;
}

.RouteTypeImage {
    max-width: 30px;
}

.Segment .circle {
    border: 2px solid #909696;
    border-radius: 5px;
    height: 10px;
    left: 40px;
    position: absolute;
    width: 10px;
    z-index: 5;
    top: 15px;
    background-color: #ffffff;
}

.Segment .text {
    padding-left: 60px;
    font-size: 16px;
    color: #64686A;
    line-height: 36px;
}

.Segment .line {
    border-left: 4px dotted #909696;
    height: 3000px;
    left: 43px;
    position: absolute;
    top: 25px;
    z-index: 2;
    width: 0;
    background-color: #fff;
}

.SegmentRoute .line {
    border-left: 4px solid;
}

.Segment .from {
    background-image: url("/public/images/web/A-small.png");
    height: 20px;
    position: absolute;
    top: 7px;
    width: 20px;
    left: 35px;
    z-index: 3;
}

.Segment .to {
    background-color: #fff;
    height: 32px;
    position: relative;
    z-index: 3;
    margin-top: 26px;
}

.Segment .to:before {
    background-image: url("/public/images/web/site_icons.png");
    background-position: -60px 0;
    content: "";
    height: 20px;
    left: 35px;
    position: absolute;
    top: 0;
    width: 20px;
}

.Segment .distanceTime {
    color: #909696;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 9px;
    padding-left: 60px;
}

.SegmentWalk {
    padding: 43px 0 0;
}

.Segment .description {
    color: #1C7DB0;
    font-size: 14px;
    padding-left: 60px;
    margin-top: 8px;
}

.Segment .stoptext {
    padding: 12px 25px 12px 60px;
    cursor: pointer;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    background-color: #f5f5f5;
}

.Segment .stoptext:hover {
    background-color: #ffffff;
}

.SegmentRoute .stopsNumber {
    color: #909696;
    font-size: 12px;
    margin-top: 2px;
    cursor: pointer;
    position: relative;
    padding-left: 74px;
    margin-bottom: 7px;
}

.SegmentRoute .stopsNumber:before {
    background: url("/public/images/web/site_icons.png") no-repeat scroll -65px -27px rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 6px;
    left: 60px;
    position: absolute;
    top: 6px;
    width: 10px;
}

.SegmentRoute .stopsNumber-opened:before {
    background-position: -65px -20px;
}

.SegmentRoute .stopsNumber-noStops {
    padding-left: 60px;
    cursor: default;
}

.SegmentRoute .stopsNumber-noStops:before {
    background: none;
}

.SegmentRoute .stopElement {
    color: #64686A;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 9px;
    margin-top: 7px;
    padding-left: 10px;
    width: 225px;
}

.SegmentRoute .stopElementCircle {
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    margin-left: 40px;
    width: 10px;
}


/*STOP INFORMATION -----------------------------------------*/

.StopInfoWrapper {
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    left: 0;
    overflow-x: hidden;
    z-index: 6;
    border: 1px solid #d1d1d1;
}

.StopInfoWrapper .icon {
    background: url("/public/images/design/close-window.png") no-repeat scroll 0px -20px rgba(0, 0, 0, 0);
    height: 30px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    cursor: pointer;
}

.StopInfoWrapper .stoptitle {
    background: url("/public/images/v2/stop/stop.png") no-repeat scroll 16px 13px rgba(0, 0, 0, 0);
    min-height: 50px;
    padding: 20px 0 15px 64px;
}

.StopInfoWrapper .stoptitle h4 {
    color: #3D505A;
    margin: 0;
    padding: 0 100px 0 0;
}

.StopInfoWrapper .stoptitle p {
    margin: 0;
    padding: 0 100px 0 0;
}

.routesInStop {
    background-color: #FBFBFB;
    border-bottom: 1px solid #E7E9E9;
    border-top: 1px solid #FFFFFF;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-top: 7px;
}

.itslaststop {
    color: #B3B3B3;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0 0 7px;
    vertical-align: top;
}

.routesInStop .typeText {
    color: #5A5F65;
    display: inline-block;
    font-size: 16px;
    margin: 7px 0 0;
    vertical-align: top;
}

.routesinfo .title {
    border-bottom: 1px solid #E7E9E9;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 13px 10px;
    position: relative;
}

.routesInStop .routeNameLink,
.routesInStop .destinationLink {
    color: #628698;
    display: inline-block;
    font-size: 14px;
    margin: 7px 0 0;
    vertical-align: top;
}

.routeNameLink {
    min-width: 26px;
}

.destinationLink {
    max-width: 182px;
}

.routesInStop .arrowDirection {
    color: #CDCDCD;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-size: 13px;
    line-height: 26px;
    margin: 0px 10px 0 0;
}

.realtimeWrapper {
    color: #B3B3B3;
    display: none;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 35px;
}

.realtimeWrapper span {
    color: #535353;
    vertical-align: baseline;
}

.realtime-comming {
    background-color: #DDFFA6;
    border-radius: 2px;
    margin-right: 3px;
    padding: 0 3px;
}

#aboutDescription {
    margin-top: 45px;
    line-height: 23px;
}

    @media (max-width: 767px) {

        #aboutDescription {
            margin-top: 25px;
        }

    }

    #aboutDescription a {
        color: #1C7DB0;
    }

@media (max-width: 991px) {

    .commonMap {
        display: -ms-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .map {
        order: 0;
        height: 350px;
    }

    .ResultContainer {
        order: 1;
        position: relative;
        height: auto;
        width: 100%;
        margin-top: 15px;
    }

    #mapContainer {
        height: auto !important;
    }

    .StopInfoWrapper {
        height: 350px;
    }

}

@media (max-width: 767px) {

    .map {
        height: 200px;
    }

    .StopInfoWrapper {
        height: 100%;
        width: 100%;
    }

}